# 10 Minutes to pandas
请参阅[官方文档](http://pandas.pydata.org/pandas-docs/stable/10min.html)

In [2]:
# 设置为 inline 风格
%matplotlib inline
# 包导入
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 数据整形

In [3]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one     0.011175  0.967244
      two    -1.306996  0.785107
baz   one    -0.651833 -1.030319
      two     0.145674  0.656003
foo   one    -1.148914  0.341089
      two     1.632073 -0.942795
qux   one    -0.051695  2.113905
      two     0.132565 -0.148505

In [4]:
df.loc['bar']

               A         B
second
one     0.011175  0.967244
two    -1.306996  0.785107

In [5]:
df.loc['bar'].loc['one']

A    0.011175
B    0.967244
Name: one, dtype: float64

In [6]:
stacked = df.stack()
stacked

first  second
bar    one     A    0.011175
               B    0.967244
       two     A   -1.306996
               B    0.785107
baz    one     A   -0.651833
               B   -1.030319
       two     A    0.145674
               B    0.656003
foo    one     A   -1.148914
               B    0.341089
       two     A    1.632073
               B   -0.942795
qux    one     A   -0.051695
               B    2.113905
       two     A    0.132565
               B   -0.148505
dtype: float64

In [7]:
stacked.loc['bar'].loc['one'].loc['A']

0.011175381253084274

In [8]:
stacked.unstack()

                     A         B
first second
bar   one     0.011175  0.967244
      two    -1.306996  0.785107
baz   one    -0.651833 -1.030319
      two     0.145674  0.656003
foo   one    -1.148914  0.341089
      two     1.632073 -0.942795
qux   one    -0.051695  2.113905
      two     0.132565 -0.148505

In [9]:
stacked.unstack().unstack()

               A                   B
second       one       two       one       two
first
bar     0.011175 -1.306996  0.967244  0.785107
baz    -0.651833  0.145674 -1.030319  0.656003
foo    -1.148914  1.632073  0.341089 -0.942795
qux    -0.051695  0.132565  2.113905 -0.148505

In [10]:
stacked.unstack(1)

second        one       two
first
bar   A  0.011175 -1.306996
      B  0.967244  0.785107
baz   A -0.651833  0.145674
      B -1.030319  0.656003
foo   A -1.148914  1.632073
      B  0.341089 -0.942795
qux   A -0.051695  0.132565
      B  2.113905 -0.148505

### 数据透视表

pivot table/轴向旋转表

In [11]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                    'B' : ['A', 'B', 'C'] * 4,
                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D' : np.random.randn(12),
                    'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.697575  0.408313
1     one  B  foo -0.689773  1.337260
2     two  C  foo  0.223507  0.137397
3   three  A  bar  0.234732 -1.348073
4     one  B  bar  0.457273  0.553412
5     one  C  bar  0.517181  0.097894
6     two  A  foo -0.520072 -0.514069
7   three  B  foo -0.591167  0.287131
8     one  C  foo  1.211665 -1.443944
9     one  A  bar  0.905675  1.808546
10    two  B  bar  0.586686  0.734968
11  three  C  bar  1.487466  0.608424

In [12]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.905675 -0.697575
      B  0.457273 -0.689773
      C  0.517181  1.211665
three A  0.234732       NaN
      B       NaN -0.591167
      C  1.487466       NaN
two   A       NaN -0.520072
      B  0.586686       NaN
      C       NaN  0.223507

In [22]:
pd.pivot_table(df, values=['E'], index=['A'], columns=['C'])

              E
C           bar       foo
A
one    0.819951  0.100543
three -0.369825  0.287131
two    0.734968 -0.188336

In [23]:
df[df.A=='one'].groupby('C').mean()

            D         E
C
bar  0.626710  0.819951
foo -0.058561  0.100543